<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Authorization"
      content="Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZTRkODFmMi02NWZhLTRiMjctODdlZC04MDYwMzkwZjg1Y2MiLCJpYXQiOjE1NTkxMTk4MzN9.9VscYLc5dozXiJq9irD64J7dHf8XzIxzsZWp5l_WYUM"
    />
    <title><%= title %></title>
  </head>
  <body>
    <form
      method="POST"
      action="http://127.0.0.1:7001/upload?_csrf={{ ctx.csrf | safe }}"
      enctype="multipart/form-data"
    >
      title: <input name="eateryId" /> file: <input name="file" type="file" />
      <button type="submit">Upload</button>
    </form>
    <%= name %> <%= greet%>
  </body>
</html>
